<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Marvkare</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.css" rel="stylesheet">
  <!-- Font-awesomw-->
  <link rel="stylesheet" href="./fonts/style.css">
  <link rel="stylesheet" href="./css/styles.css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Marvkare</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/comingSoon">Remember This</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comingSoon">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">>Solo los obstaculos </h1>
        <h2 class="masthead-subheading mb-0">..dan proposito a la vida </h2>
        <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">UwU</a>
      </div>
      <div class="container">
        <div class="p-4">
          <a href="https://github.com/marvkare" clas="social-links" target="_blank"><span class="icon-github"></span></a>
          <a href="https://www.facebook.com/MarvkareDev" class="social-links" target="_blank"><span class="icon-facebook2"></span></a>
          <a href="https://www.instagram.com/marvkare/" class="socia-links" target="_blank"><span class="icon-instagram"></span></a>
        </div>

      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/01.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Sobre mi</h2>
            <p>soy un programador autodidacta que siempre me vi interesado por el mundo de la tecnología por que veo una
              oportunidad de cambiar el mundo atreves de software</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/02.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Educacion</h2>
            <h3>Cetis 26 Antonio Soto Gama </h3>
            <p>Avenida, Calle Ignacio Zaragoza SN, Centro, 42970 Atitalaquia, Hgo.</p>
            <p>Tecnico en programacion</p>
            <p>AGOSTO DE 2019 - JULIO DE 2017</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/03.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Portafolio</h2>
            <p>Aqui les muestro mis pequeños proyectos donde demuestro mis habilidades de programacion</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col -lg-6 order-lg-2">
          <div class="card" style="width: 18rem;">
            <img src="img/task-app.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Task app React </h5>
              <p class="card-text">
                Una aplicacion de tareas aprendiendo el concepto de localStorage
              </p>
              <a href="https://github.com/Marvkare/Task-App-React" class="btn btn-primary">
                <span class="icon-github"></span>
                Github</a>
              <a href="" class="btn btn-prymary">Show</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="content">

    <h1 class="logo">Contact <span>Us</span></h1>

    <div class="contact-wrapper animated bounceInUp">
      <div class="contact-form">
        <h3>Contact us</h3>
        <form action="/send-email" method="POST">
          <p>
            <label>Nombre Completo</label>
            <input type="text" name="name" value="name" placeholder="name">
          </p>
          <p>
            <label>Email</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Numero de telefono</label>
            <input type="tel" name="phone">
          </p>
          <p>
            <label>Asunto</label>
            <input type="text" name="affair">
          </p>
          <p class="block">
            <label>Mensaje</label>
            <textarea name="message" rows="3"></textarea>
          </p>
          <p class="block">
            <button>
              Enviar
            </button>
          </p>
        </form>
      </div>
      <div class="contact-info">
        <h4>Mas Información</h4>
        <ul>
          <li><i class="fas fa-map-marker-alt"></i> </li>
          <li><i class="fas fa-phone"></i> (+52) 773 175 67 40 </li>
          <li><i class="fas fa-envelope-open-text"></i> migverdin@gmail.com</li>
        </ul>
        <p>
          Quieres saber mas sobre mi ?
        </p>
        <p>Marvkare.com</p>
      </div>
    </div>

  </div>


  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Marvkare</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>