.boxTitulo{
   display:  flex;
   justify-content: space-evenly;

}

.items>img{
    width: 70%;
    border-radius: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}