body{
	background: #2d3250 ;
	color: white;
}

._box{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
._box{
	width: 100%;
}
.boxCard{
	background: #424769;
	width: 30%;
}

.boxCard>a{
	text-decoration: none;
	color: white;
}