*{
}
body{
	background: #2d3250 ;
	color: white;
}

._box{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
}
._box{
	width: 100%;
}
.boxCard{
	border-radius: 10px;
	background: #424769;
	width: 30%;
	height: 300px;
	display: flex;
	align-items: center;
	flex-flow: column wrap;
}

.boxCard>a{
	text-decoration: none;
	color: white;
}
.boxCard> img{
	width: 90%;
	border-radius: 10px;
}
.box {
	padding-top: 5%;
}